body {
  background-color: rgb(105, 102, 102);
  font-family: Georgia, "Arial Narrow Bold", sans-serif, "Bradley Hand";
  font-size: 16px;
  padding-top: 89px;
}

/* Heading CSS */
.name-header h1 {
  text-align: left;
  color: white;
  font-size: 2rem;
  padding-left: 15px;
  font-family: "Arial Narrow Bold";
  font-weight: 800;
}

nav {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(180, 177, 177);
  position: fixed;
  display: flex;
  width: 100%;
  top: 5px;
  font-size: 1.4rem;
  opacity: 0.8;
}

.links {
  display: inline-flex;
  width: 55%;
  justify-content: flex-end;
  padding-right: 20px;
  font-family: "Arial Narrow Bold";
  font-weight: 700;
}

.links a {
  padding: 2px 20px;
}

.profile-pic {
  width: 45%;
  padding-top: 10px;
}

a:link,
a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: black;
}

/* Main body */

main {
  background-color: rgb(180, 177, 177);
  padding: 0px 0px 20px 15px;
  margin-top: 15px;
}

.name-header2 h1 {
  display: none;
  text-align: left;
  color: white;
  font-size: 2rem;
  font-family: "Arial Narrow Bold";
  font-weight: 800;
}

h2.description {
  font-weight: 600;
}

p#interest-box {
  padding-right: 5px;
  font-size: 1.4rem;
}

/* p {
  font-size: 2rem;
} */

/* Quote */

.quote-text-box {
  font-family: "Bradley Hand";
  font-size: 2rem;

  padding-top: 40px;
}

/* mobile site */
@media only screen and (max-width: 600px) {
  .name-header h1 {
    display: none;
  }

  .name-header2 h1 {
    display: block;
  }

  .links {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }

  main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .profile-pic {
    width: 80%;
    padding-top: 10px;
  }
}
